

.register-form{
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea{
    width: 97%;
    
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;

    border-radius: 4px;

  }
  input [type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input [type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
}

thead,
tfoot {
  background-color: #2c5e77;
  color: #fff;
}
thead{
  text-align: left;
}
tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
  text-align: left;
}
th {
  text-align: left;
}
tr{
  cursor: pointer;
}
tr:hover{
  background-color: #bde0f1;
}

.field-name-th{
  width: 150px;
}

.statusbutton{
  border: none;
  text-decoration: none;
  background-color: #3d86ab;
  width: 150px;
  color: white;
  font-size: larger;
  cursor: pointer;
}

.statusbutton:hover{
  background-color: #45a049;
}
.Status-select{
  width: 150px;
  font-size: medium;
  margin-right: 10px;
  height: 26px;
}

.home-page-main{
  background-image: url('../public/road-repair-flat-composition-with-builders-characters-working-with-jackhammer-cartoon-vector-illustration_1284-75375.avif');
  width: 100%;
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 55vh; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-control-div{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.home-button{
 
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;

    margin: 10px;
    width: 160px;

}
.home-button:hover{
  background: #f6f9fe;
  color: #174ae6;
}
.home-button-div{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}
